<header class="centre">
  <h1>JM Anderson</h1>
  <h2>Test match career in charts</h2>
</header>

<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Wickets per match</ng-template>
    <ng-template matStepContent>
      <app-wickets-match></app-wickets-match>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Striking rate</ng-template>
    <ng-template matStepContent>
      <app-strike-rate></app-strike-rate>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Bowling average</ng-template>
    <ng-template matStepContent>
      <app-bowling-ave-tabs></app-bowling-ave-tabs>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Opposition</ng-template>
    <ng-template matStepContent>
      <app-wickets-opponent-bar></app-wickets-opponent-bar>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Economy rate</ng-template>
    <ng-template matStepContent>
      <app-economy-rate></app-economy-rate>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Grounds</ng-template>
    <ng-template matStepContent>
      <app-grounds-tabs></app-grounds-tabs>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Home and abroad</ng-template>
    <ng-template matStepContent>
      <app-ave-home-away></app-ave-home-away>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Innings</ng-template>
    <ng-template matStepContent>
      <app-innings-bar></app-innings-bar>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Average & striking</ng-template>
    <ng-template matStepContent>
      <app-ave-strike-multi-axis-line></app-ave-strike-multi-axis-line>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

  <!-- last -->
  <mat-step>
    <ng-template matStepLabel>Years & years</ng-template>
    <ng-template matStepContent>
      <app-year-bar></app-year-bar>
      <button mat-button matStepperPrevious>Back</button>
    </ng-template>
  </mat-step>
</mat-stepper>
