mat-toolbar {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.title-button {
  font-weight: bold;
  font-size: medium;
}

.active {
  // text-decoration: underline;
  background-color: aliceblue;
}

@media only screen and (max-width: 667px) {
  .larger-screen-menu {
    display: none;
  }

  mat-toolbar {
    padding: 0% 4%;
  }
}

@media only screen and (min-width: 668px) {
  .smaller-screen-collapse-menu {
    display: none;
  }

  mat-toolbar {
    padding: 0% 10%;
  }
}

@media only screen and (min-width: 992px) {
  .smaller-screen-collapse-menu {
    display: none;
  }

  mat-toolbar {
    padding: 0% 15%;
  }
}

// .action-buttons, .github-icon-button {
//     display: flex;
//     align-items: center;
// }

// @media only screen and (max-width: 768px) {
//     mat-toolbar {
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         padding: 3% 0%;
//     }

//     .action-button {
//         width: 23px;
//         height: 23px;
//         line-height: 23px;
//         min-height: 23px;
//         vertical-align: top;
//         font-size: 13px;
//         padding: 0 0;
//         margin: 0;
//     }

//     .github-icon-button {
//         display: none;
//     }

//     .full {
//         display: none;
//     }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 769px) {
//     .abridge {
//         display: none;
//     }
// }
