<p class="alert alert-danger small-screen-warning">
  On small screen sizes, hold the device horizontally.
</p>

<header class="centre">
  <h1>JM Anderson</h1>
  <h2>Test match career in charts</h2>
</header>

<app-wkts-match></app-wkts-match>

<hr class="divider">

<app-strike-rate></app-strike-rate>

<hr class="divider">

<app-wickets-opponent-bar></app-wickets-opponent-bar>

<hr class="divider">

<app-ave-strike-multi-axis-line></app-ave-strike-multi-axis-line>

<hr class="divider">

<app-bowling-ave-tabs></app-bowling-ave-tabs>

<hr class="divider">

<app-economy-rate></app-economy-rate>

<hr class="divider">

<app-innings-bar></app-innings-bar>

<hr class="divider">

<app-year-bar></app-year-bar>

<hr class="divider">

<app-home-away-tabs></app-home-away-tabs>

<hr class="divider">

<app-grounds-tabs></app-grounds-tabs>