@if (loaded()) {
<h4 class="centre">Matches & wickets taken by opposition</h4>


    <canvas class="chart" baseChart [type]="'bar'" [legend]="true" [datasets]="wicketsData.datasets" [labels]="wicketsData.labels"
        [options]="barChartOptions" [plugins]="chartPlugins">
    </canvas>


<section>
    <p class="alert alert-info icon-text">
        <button mat-flat-button (click)="toggle5w()">{{btnText()}}</button>
        <mat-icon class="info-icon" aria-hidden="false" aria-label="information icon"
            fontIcon="info_outline"></mat-icon>
        Show or hide the five-wicket haul counts.
    </p>
</section>
}