@if (loaded()) {
<div class="graph">
    <canvas baseChart [type]="'bar'" [legend]="true" [datasets]="wicketsData.datasets" [labels]="wicketsData.labels"
        [options]="barChartOptions" [plugins]="chartPlugins">
    </canvas>
</div>

<section>
    <div class="alert alert-info icon-text">
        <button mat-flat-button (click)="toggle5w()">{{btnText()}}</button>
        <mat-icon class="info-icon" aria-hidden="false" aria-label="information icon"
            fontIcon="info_outline"></mat-icon>
        Show or hide the count of five wicket hauls.
    </div>
</section>
}