<div class="container">
  <header>
    <h1>JM Anderson</h1>
    <h2>Test match career in charts.</h2>
  </header>

  <app-wkts-match></app-wkts-match>

  <hr class="divider">

  <app-cumulative-ave-line></app-cumulative-ave-line>

  <hr class="divider">

  <app-format-analysis-line></app-format-analysis-line>

  <hr class="divider">

  <app-age-analysis-line></app-age-analysis-line>

  <hr class="divider">

  <app-ave-strike-multi-axis-line></app-ave-strike-multi-axis-line>

  <hr class="divider">

  <app-wickets-opponent-bar></app-wickets-opponent-bar>

  <hr class="divider">

  <app-economy-rate></app-economy-rate>

  <hr class="divider">

  <app-strike-rate></app-strike-rate>

  <!-- <hr class="divider"> -->

</div>

<app-footer></app-footer>



