<section class="ideas">

    <h1 class="centre">Ideas</h1>

    <P>
        This website is at a <span class="underline">very</span> early stage of development. Chart.js is used to create
        the charts. I aim to make the charts a lot more interactive.
    </P>

    <P>
        The plan is to design charts covering cricket past and present. The current charts focus on the Test
        match career of James Anderson. Here's a few ideas I am working on:

    <ul>
        <li>a comparison with Brian Statham, the other great post-war Lancashire Test bowler;</li>
        <li>an analysis of home and away Test performance; and</li>
        <li>comparison with other bowlers in his era.</li>
    </ul>

    <p>
        Do you have any ideas? I would most welcome your feedback and any ideas for charts.
    </p>

    <section>

        <hr class="divider">

        <h3>Change log</h3>

        <table>
            <tr>
                <th style="width:85%">Change</th>
                <th>Date</th>
            </tr>
            <!--  -->
            <tr>
                <td>Added axis focus method to economy rate chart.
                </td>
                <td>02/08/2024</td>
            </tr>
            <tr>
                <td>Fix applied to economy rate chart. Wrong data labels were in use.
                </td>
                <td>02/08/2024</td>
            </tr>
            <tr>
                <td>Bowling average charts moved into a tabs group design.
                </td>
                <td>02/08/2024</td>
            </tr>
            <tr>
                <td>Major change to responsive design: charts display better in small screens in portrait screen
                    orientation.
                </td>
                <td>01/08/2024</td>
            </tr>
        </table>

    </section>

</section>