<section>

    <h1 class="mat-headline-3 centre">Ideas</h1>

</section>

<section>

    <P>
        This website is at a <span class="underline">very</span> early stage of development. I am learning a new chart
        library (Chart.js) and I'm still getting to grips with its subtleties & capabilities. I want to make the charts
        a <span class="underline">lot</span> more interactive.
    </P>

    <P>
        The plan is to design charts covering cricket past and present. However, the current charts focus on the Test
        match career
        of James Anderson. Some charts I'm working on are:

    <ul>
        <li>a comparison with Brian Statham, the other great post-war Lancashire Test bowler;</li>
        <li>an analysis of home and away Test performance</li>
        <li></li>
        <li></li>
    </ul>

    <p>
        Thank you for visiting. I would most welcome your feedback and any ideas you have.
    </p>

</section>