<section class="ideas">

    <h1 class="mat-headline-3 centre">Ideas</h1>

    <P>
        This website is at a <span class="underline">very</span> early stage of development. I am learning a chart
        library (Chart.js) that I've not used before. So I'm still getting to grips with its capabilities. I aim to make
        the charts a <span class="underline">lot</span> more interactive.
    </P>

    <P>
        The plan is to design charts covering cricket past and present. The current charts focus on the Test
        match career of James Anderson. Here's a few ideas I am working on:

    <ul>
        <li>a comparison with Brian Statham, the other great post-war Lancashire Test bowler;</li>
        <li>an analysis of home and away Test performance</li>
        <li></li>
        <li></li>
    </ul>

    <p>
        I would most welcome your feedback and any ideas for charts.
    </p>

</section>