<h4 class="centre">Bowling average</h4>

<mat-tab-group>
    <mat-tab label="First">
        <ng-template matTabContent>
            <app-cumulative-ave-line></app-cumulative-ave-line>
        </ng-template>
    </mat-tab>
    <mat-tab label="Second">
        <ng-template matTabContent>
            <app-format-analysis-line></app-format-analysis-line>
        </ng-template>
    </mat-tab>
    <mat-tab label="Third">
        <ng-template matTabContent>
            <app-age-analysis-line></app-age-analysis-line>
        </ng-template>
    </mat-tab>
</mat-tab-group>