html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.chart {
    width: 100%;
}

.centre {
    text-align: center;
}

.divider {
    margin: 3% 0%;
}

.alert {
    padding: 2%;
    color: black;
    /* font-size: larger; */
}

.strong-title {
    padding-right: 1%;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #77ff33;
}

.alert-info {
    background-color: #efef85;
    /* 'Robin egg blue' */
}

.icon-text {
    display: flex;
    align-items: center;
}

.info-icon {
    margin-left: 1%;
    margin-right: 0.5%;
}