html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centre {
    text-align: center;
}

.divider {
    margin: 5% 0%;
}

.underline {
    text-decoration: underline;
}

.footnote {
    font-size: smaller;
}

.alert {
    flex-wrap: wrap;
    padding: 2%;
    color: black;
    font-size: smaller;
}

.strong-title {
    padding-right: 1%;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #77ff33;
}

.alert-info {
    background-color: beige;
    /* 'Robin egg blue' */
}

.icon-text {
    display: flex;
    align-items: center;
}

.info-icon {
    margin-left: 1%;
    margin-right: 0.5%;
}

.chart {
    min-width: 450px;
    overflow: visible;
}

.chart-buttons {
    margin: 1%;
}

/* Small devices (up to 768px) */
@media only screen and (max-width: 666px) {
    .chart {
        max-height: 300px;
        width: 100%;
    }

    .container {
        padding-top: 10%;
        margin: 2% 1% 5%;
        /* top / right/left / bottom */
    }

    .small-screen-warning {
        text-align: center;
        font-weight: bold;
        position: sticky;
        top: 55px;
        padding: 10px 0px;
    }

    .info-icon {
        visibility: hidden;
    }

}

/* Larger devices (769px and up) */
@media only screen and (min-width: 667px) {
    .chart {
        max-height: 350px;
        width: 100%;
    }

    .container {
        padding-top: 8%;
        margin: 2% 4% 5%;
        /* top / right/left / bottom */
    }

    .small-screen-warning {
        display: none;
    }

    .info-icon {
        visibility: visible;
    }
}

/* Larger devices (769px and up) */
@media only screen and (min-width: 769px) {
    .chart {
        max-height: 350px;
        width: 100%;
    }

    .container {
        padding-top: 5%;
        margin: 2% 4% 5%;
        /* top / right/left / bottom */
    }

    .small-screen-warning {
        display: none;
    }

    .info-icon {
        visibility: visible;
    }
}

/* Larger devices (769px and up) */
@media only screen and (min-width: 992px) {
    .chart {
        max-height: 525px;
        width: 100%;
    }

    .container {
        padding-top: 6%;
        margin: 2% 15% 5%;
        /* top / right/left / bottom */
    }

    .small-screen-warning {
        display: none;
    }

    .info-icon {
        visibility: visible;
    }
}