@use '~@angular/material' as mat; 

@include core.core();

$theme: definition.define-theme((
  color: (
    theme-type: light,
    primary: palettes.$azure-palette,
    tertiary: palettes.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

html {
  @include all-theme.all-component-themes($theme);
}

@include color-api-backwards-compatibility.color-variants-backwards-compatibility($theme);
@include typography.typography-hierarchy($theme);