@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
}

// @include color-api-backwards-compatibility.color-variants-backwards-compatibility($theme);
// @include typography.typography-hierarchy($theme);