@if (loaded()) {
<h4 class="centre">Bowling strike rate</h4>

<canvas class="chart" baseChart [type]="'line'" [legend]="true" [datasets]="bowlingStrikeData.datasets"
  [labels]="bowlingStrikeData.labels" [options]="lineChartOptions" [plugins]="chartPlugins">
</canvas>

<section class="chart-buttons centre">
  <button mat-stroked-button matTooltip="Focus the scale to a new minimum of 53.  This hides the first 13 'outlier' innings to show the trend in the remaining 343
    innings more clearly." [matTooltipHideDelay]="2000" (click)="focusAxis()">{{btnText()}}</button>
</section>


<!-- <section>
  <p class="alert alert-info">
    <button mat-flat-button (click)="focusAxis()">{{btnText()}}</button>
    Focus the scale to a new minimum of 53.<sup>[1]</sup>
  </p>
  <p class="footnote"><sup>1</sup> This hides the first 13 'outlier' innings to show the trend in the remaining 343
    innings more
    clearly.</p>
</section> -->
}