@if (loaded()) {
<div class="chart">
  <canvas baseChart [type]="'bar'" [legend]="true" [datasets]="formatAnalysisData.chartData"
    [labels]="formatAnalysisData.chartLabels" [options]="barChartOptions">
  </canvas>
</div>

<section>
  <div class="alert alert-info icon-text">
    <button mat-flat-button (click)="toggleBar()">{{btnText()}}</button>
      <mat-icon class="info-icon" aria-hidden="false" aria-label="information icon" fontIcon="info_outline"></mat-icon>
      Hide the wicket count bars to show the cumulative trend more clearly (on a smaller scale).
  </div>
</section>
}