canvas {
    box-sizing: initial;
}

.chart-full-screen {
    height: 100%;
    width: 100%;
}

.chart-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: black;
    /* background: lime; */
    z-index: 10;
}