@if (loaded()) {
<h4 class="centre">Wickets per Test match</h4>

<canvas class="chart" baseChart [type]="'bar'" [legend]="true" [datasets]="formatAnalysisData.chartData"
  [labels]="formatAnalysisData.chartLabels" [options]="barChartOptions">
</canvas>

<!-- use a different container -->
<!-- <div class="chart-full-screen full-screen">
  <button mat-flat-button (click)="toggleBar()">{{btnText()}}</button>
  <canvas baseChart [type]="'bar'" [legend]="true" [datasets]="formatAnalysisData.chartData"
    [labels]="formatAnalysisData.chartLabels" [options]="barChartOptions">
  </canvas>
</div> -->

<section class="chart-buttons centre">

  <button mat-stroked-button
    matTooltip="Hide the wicket count bars to show the trend more clearly on a smaller y-axis scale."
    [matTooltipHideDelay]="hideDelay" (click)="toggleBar()">{{btnText()}}</button>

  <!-- <p class="footnote"><sup>1</sup> Hiding the the wicket count bars will show the trend more clearly (on a smaller
    y-axis scale).</p> -->
</section>
}