@if (loaded()) {
<!-- <h4 class="centre">Wickets per Test match</h4> -->
<!-- <div id="gh"> -->
<!-- <button mat-flat-button (click)="toggleBar()">{{btnText()}}</button>
  <button mat-flat-button id="fs-doc-button" (click)="toggleFullscreen()">Toggle fullscreen</button> -->
<!-- <button mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button> -->

<canvas class="chart" baseChart [type]="'bar'" [legend]="true" [datasets]="formatAnalysisData.chartData"
  [labels]="formatAnalysisData.chartLabels" [options]="barChartOptions">
</canvas>
<!-- </div> -->

<section>
  <p class="alert alert-info">
    <button mat-flat-button (click)="toggleBar()">{{btnText()}}</button>
    Hide the wicket count bars.<sup>[1]</sup>
  </p>
  <p class="footnote"><sup>1</sup> This will show the trend more clearly (on a smaller y-axis scale).</p>
</section>
}