<div class="small-screen-warning">
  <app-small-screen-info></app-small-screen-info>
</div>

<header class="centre">
  <h1>JM Anderson</h1>
  <h2>Test match career in charts</h2>
</header>

<h4 class="centre">Wickets per Test match</h4>

<app-wickets-match></app-wickets-match>

<hr class="divider" />

<h4 class="centre">Bowling striking rate</h4>

<app-strike-rate></app-strike-rate>

<hr class="divider" />

<h4 class="centre">Matches & wickets taken by opposition</h4>

<app-wickets-opponent-bar></app-wickets-opponent-bar>

<hr class="divider" />

<h4 class="centre">Bowling average & strike rate</h4>

<app-ave-strike-multi-axis-line></app-ave-strike-multi-axis-line>

<hr class="divider" />

<h4 class="centre">Bowling average</h4>

<app-bowling-ave-tabs></app-bowling-ave-tabs>

<hr class="divider" />

<h4 class="centre">Economy rate</h4>

<app-economy-rate></app-economy-rate>

<hr class="divider" />

<h4 class="centre">Match innings analysis</h4>

<app-innings-bar></app-innings-bar>

<hr class="divider" />

<h4 class="centre">Years and years</h4>

<app-year-bar></app-year-bar>

<hr class="divider" />

<h4 class="centre">Home and abroad</h4>

<app-home-away-tabs></app-home-away-tabs>

<hr class="divider" />

<h4 class="centre">Grounds analysis</h4>

<app-grounds-tabs></app-grounds-tabs>
